@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
);
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

:root {
  --main-color: #195D76;
}

*{
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Single Day';
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  height: 3px;
  width: 100%;
  background-color: var(--main-color);
}

header {
  padding: 40px;
}

header div{
  margin-top: 30px;
  display: flex;
  height: 130px;
  background-color: var(--main-color);
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
}

header > div > h1 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

nav {
  position: sticky;
  background-color: white;
  top: 0;
  border-bottom: 3px solid var(--main-color);
}

nav > ul{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

nav > ul > a> li {
  font-size: 1.1rem;
  font-weight: 1000;
  list-style: none;
  color: var(--main-color);
  margin-top: 15px;
  margin-bottom: 15px;
}


.fa-spoon {
  font-size: 60px;
  color: #ffffff;
}

table {
  border-collapse: collapse;
  border: 3px solid var(--main-color);
  width: 500px;
}

td, tr, th{
  border: 1px solid var(--main-color);
}

td {
  padding: 5px;
}

a:not(#company) {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

#company {
  text-decoration: none;
  color: var(--main-color);
}

li:not(nav > ul > a> li) {
  margin-bottom: 30px;
}

section {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > article > h3 {
  color: white;
  background-color: var(--main-color);
  text-align: center;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 1.5rem;
}

article {
  margin-bottom: 70px;
}

aside {
  text-align: center;
}

footer h4 {
  margin-left: 10px;
}

strong {
  font-weight: 500;
}