@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
);

:root {
  --main-color: #195D76;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

hr {
  height : 5px;
  background-color: var(--main-color);
}

header {
  padding: 40px;
}

header div{
  margin-top: 30px;
  display: flex;
  height: 130px;
  background-color: var(--main-color);
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
}

header > div > h1 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}

header nav {
  margin-top: 100px;
  margin-bottom: 40px;
}

header > nav > ul > a > li {
  font-size: 1.1rem;
  font-weight: 1000;
}

.fa-spoon {
  font-size: 60px;
  color: #ffffff;
}

table {
  border-collapse: collapse;
  border: 3px solid var(--main-color);
  width: 500px;
}

td, tr, th{
  border: 1px solid var(--main-color);
}

td {
  padding: 5px;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

li {
  margin-bottom: 30px;
}

section {
  padding-left: 30px;
  padding-top: 30px;
}

article {
  margin-bottom: 70px;
}